body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4ff;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.main-title {
  font-size: 34px;
  font-weight: bold;
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.description {
  font-size: 20px;
  font-weight: bold;
  background-color: burlywood;
  padding: 15px;
  margin: 0;
}

#introduction {
  color: #d42f2f;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}
